<style type="text/css">
paula {
border: 3px red;
background-color: blue;
text-align: right;
}
pdm {
border: 5px solid gray;
background-color: green;
text-align: center;
}
vale{
border: 4px  green;
background-color: yellow;
text-align: center;
}