<style type="text/css">
			p {
				border: 2px solid blue;
				background-color: lightblue;
				text-align: right;
			  }
				.main {
				border: 5px solid red;
				background-color: lightcoral;
				text-align: center;
				}
				.base-container {
				border: 2px solid green;
				background-color: lightgreen;
				text-align: center;
				}
				.base-span {
				color: green;
				}
				#footer {
				border: 2px solid yellow;
				background-color: lightyellow;
				text-align: center;
				}
				</style>